a:hover{
    text-decoration: none;
}
.list-group-item{
    opacity: 0.9;
}
.list-group-item:hover{
    background-color: aliceblue;
    transition: 1s;
    text-decoration: none;
}
body{
    background-image: url("../nature.jpg");
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-style: italic;
    background-color: rgb(94, 37, 37);
    color: white;
    padding : 10px;
    border: 1px solid rgb(158, 49, 49);
    border-radius: 20px;
    opacity: 0.9;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
    float: right;
    margin: 2px;
}
.margin-top-bottom{
    margin-top: 3px;
    margin-bottom: 3px; 
}
